@charset "utf-8";
/* CSS Document */
.mySlides {
	display: none;
	width: 100%;
}

.center {
	text-align: center;
}

.content {
	max-width: 100%;
	margin: auto;
}

/*.section {
	margin-top: 16px;
	margin-bottom: 16px;
}*/